<h1>{{ trap_id }}</h1>

<table class="table" id="trapTable">
    <thead class="thead-dark">
    <tr>
        <th scope="col">request date</th>
        <th scope="col">method</th>
        <th scope="col">headers</th>
        <th scope="col">remote IP</th>
        <th scope="col">scheme</th>
        <th scope="col">query_params</th>
        <th scope="col">cookies</th>
        <th scope="col">body</th>
    </tr>
    </thead>
    <tbody>
        {{#each requests}}
            <tr>
                <td>{{ dateFormat this.created_at "M/D/YYYY, h:mm:ss A" }}</td>
                <td>{{ this.method }}</td>
                <td>
                    {{#each this.headers}}
                        <p>{{@key}}: {{this}}
                    {{/each}}
                </td>
                <td>{{ this.remote_ip }}</td>
                <td>{{ this.scheme }}</td>
                <td>
                    {{#each this.query_params}}
                        <p>{{@key}}: {{this}}
                    {{/each}}
                </td>
                <td>
                    {{#each this.cookies}}
                        <p>{{@key}}: {{this}}
                    {{/each}}
                </td>
                <td>
                    {{#each this.body}}
                        <p>{{@key}}: {{this}}
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>


<script>
    const trapId =  '{{ trap_id }}';
</script>
<script src="/javascripts/script.js"></script>
